@mixin bd-tb-1px($bStyle,$color,$bDir){
  position: relative;
  &:after{
    content: '';
    position: absolute; 
    left: 0; #{$bDir}: 0;  
    width: 200%;
    height: 0;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;  
    -webkit-transform: scale(0.5);  
    transform: scale(0.5);
    -webkit-transform-origin: left $bDir; 
    transform-origin: left $bDir;
    border-#{$bDir}: 1px $bStyle $color;
  }
}
.wrap{
	width: 180px;
	border:1px solid #ccc;
}
input[type="text"] {
    width: 147px;
	height: 30px;
    margin: 10px;
    text-align: right;
    padding-right: 10px;
    font-size: 20px;
}
input[type="button"] {
	width: 40px;
	height: 40px;
	margin:5px 10px;
}